# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

/mdb2sqlite/*.filters 
/mdb2sqlite/Debug
/bin/vc_mswu
/bin/vc_mswud
*.tlog
*.zip
*.ilk
*.pdb
*.ipch
/wxwidgets
*.bkl
*.dsp
*.ini
*.opensdf
*.suo
*.sdf
*.iss
*.vcproj
*.vcxproj.user